force-app/main/default/flows/Default_DSS_Pricebooks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>If Render Opportunity Record Type default to Render Price Book</description>
        <name>Opportunity_Record_Type</name>
        <label>Opportunity Record Type</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Render</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123l000000r7i3AAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Render_Pricebook</targetReference>
            </connector>
            <label>Render</label>
        </rules>
        <rules>
            <name>Home_Configure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123l000001MBK5AAO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Home_Configure_Pricebook</targetReference>
            </connector>
            <label>Home Configure</label>
        </rules>
        <rules>
            <name>Build_Optimize</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123l000000r7i8AAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Build_Optimize_Price_Book</targetReference>
            </connector>
            <label>Build Optimize</label>
        </rules>
        <rules>
            <name>Home_Plan_Library</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123l000000r7iIAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Home_Plan_Library_Pricebook</targetReference>
            </connector>
            <label>Home Plan Library</label>
        </rules>
        <rules>
            <name>Drafting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123l000000r7iDAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Drafting_Pricebook</targetReference>
            </connector>
            <label>Drafting</label>
        </rules>
    </decisions>
    <description>Pricebook defaulted based on Opportunity Record Type</description>
    <environments>Default</environments>
    <interviewLabel>Default DSS Pricebooks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Default DSS Pricebooks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Build_Optimize_Price_Book</name>
        <label>Get Build Optimize Price Book</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Build_Optimize</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Drafting_Pricebook</name>
        <label>Get Drafting Pricebook</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Drafting</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Home_Configure_Pricebook</name>
        <label>Get Home Configure Pricebook</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Home_Configure</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Home_Plan_Library_Pricebook</name>
        <label>Get Home Plan Library Pricebook</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Home_Plan_Library</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Render_Pricebook</name>
        <label>Get Render Pricebook</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Render</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Record_Type</targetReference>
        </connector>
        <filterFormula>OR({!$Record.Owner.Profile.Id}=&quot;%2F00e3l000001Mrpj&quot;,{!$Record.Owner.Profile.Id}=&quot;%2F00e3l000001Mrpt&quot;)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
