force-app/main/default/flows/DSS_Closed_Won_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DSS_Closed_Wn</name>
        <label>DSS Closed Won</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.DSS_Closed_Won_Opportunity</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.DSS_Closed_Won_Opportunity</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Who_Closed_the_Opp</name>
        <label>Who Closed the Opp</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Other CLosed</defaultConnectorLabel>
        <rules>
            <name>DSS_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e3l000001Mrpj</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e3l000001Mrpt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSS_Closed_Wn</targetReference>
            </connector>
            <label>DSS Closed</label>
        </rules>
    </decisions>
    <description>Flow should trigger an email alert to admins when a DSS closes an opportunity as won.</description>
    <environments>Default</environments>
    <interviewLabel>DSS Closed Won Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DSS Closed Won Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Who_Closed_the_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
