force-app/main/default/flows/DSS_Lead_Texas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Florida_Lead_Alert</name>
        <label>Florida Lead Alert</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Lead.DSS_Lead_Florida</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.DSS_Lead_Florida</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>South_Carolina_Lead_Alert</name>
        <label>South Carolina Lead Alert</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Lead.DSS_Lead_South_Carolina</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.DSS_Lead_South_Carolina</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Texas_Lead_Alert</name>
        <label>Texas Lead Alert</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Lead.DSS_Lead_Texas</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.DSS_Lead_Texas</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Email Alert to DSS WI</description>
        <name>Wisconsin_Lead_Alert</name>
        <label>Wisconsin Lead Alert</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>Lead.DSS_Lead_Wisconsin</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.DSS_Lead_Wisconsin</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>State_Assignment</name>
        <label>State Assignment</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Texas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Texas_Lead_Alert</targetReference>
            </connector>
            <label>Texas</label>
        </rules>
        <rules>
            <name>Florida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Florida_Lead_Alert</targetReference>
            </connector>
            <label>Florida</label>
        </rules>
        <rules>
            <name>South_Carolina</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>South_Carolina_Lead_Alert</targetReference>
            </connector>
            <label>South Carolina</label>
        </rules>
        <rules>
            <name>Wisconsin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wisconsin_Lead_Alert</targetReference>
            </connector>
            <label>Wisconsin</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DSS Lead Texas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DSS Lead Assignments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>State_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Referral - BLDR website</stringValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TX</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
