force-app/main/default/flows/Lead_Stage_Follow_Up_Call_and_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailLeadIntro</name>
        <label>EmailLeadIntro</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NewLeadOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>LeadIntroEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <description>When a lead is converted into an opportunity and enters the &quot;lead&quot; stage, this creates a task to complete a follow up call and send an email that day.</description>
    <environments>Default</environments>
    <formulas>
        <name>DayofLeadConversion</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Lead Stage Follow Up Call and Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Stage Follow Up Call and Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>When a lead is converted into an opportunity and enters the &quot;lead&quot; stage, this creates a task to complete a follow up call that day and to send an email to schedule a time to talk.</description>
        <name>Lead_Stage_Follow_Up_Call</name>
        <label>Lead Stage Follow Up Call</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>EmailLeadIntro</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DayofLeadConversion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Please call to set up a meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Stage_Follow_Up_Call</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>When a lead is converted into an opportunity and is in the &quot;lead&quot; stage, an email will be sent to the DSS to remind them to follow up with the contact and provide a template to schedule a meeting.</description>
        <name>LeadIntroEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Owner.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This &lt;a href=&quot;https://myparadigm.lightning.force.com/lightning/r/Contact/{!$Record.ContactId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;lead &lt;/a&gt;has been converted and is a new &lt;a href=&quot;https://myparadigm.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;opportunity&lt;/a&gt;. Make sure to reach out to the contact to discuss a time to set up a meeting, if you haven&apos;t already. Here&apos;s a helpful template below:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;------&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hi (&lt;span style=&quot;color: rgb(247, 6, 6);&quot;&gt;Recipient First Name&lt;/span&gt;),&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;My name is (&lt;span style=&quot;color: rgb(247, 6, 6);&quot;&gt;your name&lt;/span&gt;) and I am a Digital Sales Specialist for (&lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt;recipient state or market&lt;/span&gt;).&lt;/p&gt;&lt;p&gt;I received your interest in our Digital Tools and wanted to schedule a 30-minute meeting to hear more about what you are looking for and to give you a demonstration.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;What day and time work best for you?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Feel free to call or email me with any questions!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best,&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(237, 3, 3);&quot;&gt;(Your first and last name)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(237, 3, 3);&quot;&gt;(Your email)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(237, 3, 3);&quot;&gt;(Your signature)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-----&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewLeadOpportunity</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Newly Converted Lead Follow Up: {!$Record.Id}</text>
    </textTemplates>
</Flow>
