force-app/main/default/flows/Lead_24h_Old.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Lead is Open - Not Contacted for more than 24h and reminder email is sent</description>
        <name>X24h_Alert</name>
        <label>24h Alert</label>
        <locationX>176</locationX>
        <locationY>552</locationY>
        <actionName>Lead.Lead_Still_Open</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Each_User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Lead_Still_Open</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <description>Email Reminder to Lead Owner if Lead is still in Open - Not Contacted 24h+ after creation.</description>
    <environments>Default</environments>
    <interviewLabel>Lead 24h Old {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead 24h Old</label>
    <loops>
        <name>Find_Each_User</name>
        <label>Find Each User</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>EnterpriseSalesUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>X24h_Alert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Enterprise_Sales_Users</name>
        <label>Get Enterprise Sales Users</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Each_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e3l000001Mrpo</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>EnterpriseSalesUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Enterprise_Sales_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open_Lead_Not_Contacted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_is_24h_or_Older__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pi__created_date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2022-11-01T05:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0051N000007UlAxQAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0051N000006rrw2QAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_is_48h_or_Older__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-18</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EnterpriseSalesUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
