force-app/main/default/flows/New_Account_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <dynamicChoiceSets>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <object>Account</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductsSoldThroughRelationship</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Sold_Through_Relationship__c</picklistField>
        <picklistObject>Account_Relationships__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelationshipType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationship_Type__c</picklistField>
        <picklistObject>Account_Relationships__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Account Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Account Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Relationship</name>
        <label>Create Account Relationship</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>AccountName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RelatedAccountName.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Sold_Through_Relationship__c</field>
            <value>
                <elementReference>ProductsSoldThroughRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account_Name__c</field>
            <value>
                <elementReference>RelatedAccountName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_Type__c</field>
            <value>
                <elementReference>RelationshipType_c</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Relationships__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>New_Account_Relationship</name>
        <label>New Account Relationship</label>
        <locationX>777</locationX>
        <locationY>205</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Account_Relationship</targetReference>
        </connector>
        <fields>
            <name>AccountName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account_Relationships__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RelatedAccountName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account_Relationships__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Related_Account_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related Account Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RelationshipType_c</name>
            <choiceReferences>RelationshipType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProductSold</name>
            <choiceReferences>ProductsSoldThroughRelationship</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Products Sold Through Relationship</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>New_Account_Relationship</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
