force-app/main/default/flows/New_Lead_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Lead_Created_Alert</name>
        <label>New Lead Created Alert</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <actionName>Lead.New_Lead_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>If_Supplier_Email_John</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.New_Lead_Created</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Supplier_Email</name>
        <label>Supplier Email</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Lead.Supplier_Leads_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Supplier_Leads_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>If a Supplier Lead, notify John Wheeler as well.</description>
        <name>If_Supplier_Email_John</name>
        <label>If Supplier, Email John</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0051N000005t4Q0QAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supplier_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>New Lead Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Lead Alerts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Lead_Created_Alert</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
