force-app/main/default/flows/Opportunity_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Record_Type_Condition</name>
        <label>Record Type Condition</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Digital_Tools</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital_Tools</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Is Digital Tools</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varCloseDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate}) + 30</expression>
    </formulas>
    <interviewLabel>Opportunity - After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update opprtunity Close Date after 30 days Lead was converted</description>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>varCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>After_1_Minute</name>
            <connector>
                <targetReference>Record_Type_Condition</targetReference>
            </connector>
            <label>After 1 Minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
