force-app/main/default/flows/Update_Close_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Who_closed_the_Opp</name>
        <label>Who Closed the Opp</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Others Closed</defaultConnectorLabel>
        <rules>
            <name>DSS_CLosed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e3l000001Mrpj</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e3l000001Mrpt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Close_Date</targetReference>
            </connector>
            <label>DSS CLosed</label>
        </rules>
    </decisions>
    <description>This flow will automatically update DSS closed opportunities to &quot;today&quot; if it is in the past or the future.</description>
    <environments>Default</environments>
    <formulas>
        <description>Updated to &quot;today&apos;s date&quot;/date the opp is closed by DSS team</description>
        <name>DateOppIsClosed</name>
        <dataType>Date</dataType>
        <expression>TODAY ()</expression>
    </formulas>
    <interviewLabel>Update Close Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Close Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Close_Date</name>
        <label>Update Close Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>DateOppIsClosed</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Who_closed_the_Opp</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
