force-app/main/default/flows/Vendo_Tiered_Pricing_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>An email will be sent to the Vendo opportunity owner 2 months before the renewal date to discuss the upcoming contract and tiered pricing</description>
        <name>Contract_Renewal_Email</name>
        <label>Contract Renewal Email</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ContractFollowUp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VendoContractRenewalEmailReminder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Is_this_a_Vendo_Contract</name>
        <label>Is this a Vendo Contract</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Other Contract</defaultConnectorLabel>
        <rules>
            <name>Vendo_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pricebook2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Vendo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vendo_Tiered_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Reminder</targetReference>
            </connector>
            <label>Vendo Opportunity</label>
        </rules>
    </decisions>
    <description>A task and an email will be sent 10 months from the close date on the Vendo contracts. These will act as reminders to follow up on the potential renewal as well as discuss the tiered pricing options.</description>
    <environments>Default</environments>
    <formulas>
        <name>FollowUpDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.CloseDate},10)</expression>
    </formulas>
    <interviewLabel>Vendo Tiered Pricing Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vendo Tiered Pricing Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Reminder</name>
        <label>Create Task Reminder</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Contract_Renewal_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FollowUpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Please call to discuss this contract&apos;s upcoming renewal for tiered pricing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_a_Vendo_Contract</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123l0000019KvlAAE</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ContractFollowUp</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Upcoming Contract Renewal: {!$Record.Account.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>VendoContractRenewalEmailReminder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Owner.FirstName},&lt;/p&gt;&lt;p&gt;This opportunity was closed 10 months ago and has an upcoming potential renewal. Make sure to reach out to the customer to discuss any renewal opportunities and tiered pricing options.&lt;/p&gt;&lt;p&gt;Account Name: &lt;a href=&quot;https://myparadigm.lightning.force.com/lightning/r/Account/{!$Record.AccountId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Account.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Opportunity Name: &lt;a href=&quot;https://myparadigm.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}  &lt;/a&gt;&lt;/p&gt;&lt;p&gt;Closed Date: {!$Record.CloseDate}&lt;/p&gt;&lt;p&gt;Thanks!&lt;/p&gt;</text>
    </textTemplates>
</Flow>
